QMainWindow {
    background-color: #f0f0f0;
}

QTextEdit {
    font-family: "Verdana";
    font-size: 12pt;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    color: #000000;
}

QLabel {
    font-size: 10pt;
    margin-bottom: 5px;
    color: #000000;
}

QSpinBox, QDoubleSpinBox {
    font-size: 10pt;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    width: 100px;
    color: #000000;
}

QCheckBox {
    font-size: 10pt;
    margin: 10px 0;
    padding: 10px;
    color: #000000;
}

QPushButton {
    font-size: 9pt;
    padding: 10px;
    background-color: #f9d039;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font: bold;
}

QPushButton:hover {
    background-color: #ffa500;
}

QPushButton:disabled {
    background-color: #e0e0e0;
}

QProgressBar {
    font-size: 10pt;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 20px;
}

QProgressBar::chunk {
    background-color: #ffdc5f;
    width: 10px;
}
