/* Existing Styles */
QMainWindow {
    background-color: #333333;
}

QTextEdit {
    font-family: "Verdana";
    font-size: 12pt;
    background-color: #222222;
    border: 1px solid #555555;
    padding: 5px;
    color: #ffffff;
}

QLabel {
    font-size: 10pt;
    margin-bottom: 5px;
    color: #ffffff;
}

QSpinBox, QDoubleSpinBox {
    font-size: 10pt;
    background-color: #222222;
    border: 1px solid #555555;
    padding: 5px;
    width: 100px;
    color: #ffffff;
}

QCheckBox {
    font-size: 10pt;
    margin: 10px 0;
    color: #ffffff;
}

QPushButton {
    font-size: 9pt;
    padding: 10px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font: bold;
}

QPushButton:hover {
    background-color: #444444;
}

QPushButton:disabled {
    background-color: #555555;
}

QProgressBar {
    font-size: 10pt;
    text-align: center;
    background-color: #222222;
    border: 1px solid #555555;
    height: 20px;
}

QProgressBar::chunk {
    background-color: #ffdc5f;
    width: 10px;
}

QComboBox {
    font-size: 10pt;
    background-color: #222222;
    border: 1px solid #555555;
    padding: 5px;
    color: #ffffff;
}

/* Presets Section */
#presetsGroupBox {
    background-color: #2b2b2b;
    border: 1px solid #555555;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
}

QListWidget#presetsList {
    background-color: #1e1e1e;
    border: 1px solid #555555;
    color: #ffffff;
    padding: 5px;
    selection-background-color: #FFD700; /* Gold Highlight */
    selection-color: #000000; /* Black Text on Gold */
    font-family: "Verdana";
    font-size: 10pt;
}

QLineEdit {
    font-family: "Verdana";
    font-size: 12pt;
    background-color: #222222;
    border: 1px solid #555555;
    padding: 5px;
    color: #ffffff;
    border-radius: 3px;
}

/* Preset Dialog Input Enhancement */
QInputDialog QLineEdit {
    font-family: "Verdana";
    font-size: 12pt;
    background-color: #2b2b2b;
    border: 1px solid #555555;
    padding: 5px;
    color: #ffffff;
    border-radius: 3px;
}

/* Preset Buttons */
QPushButton#savePresetButton, QPushButton#renamePresetButton, QPushButton#deletePresetButton {
    font-size: 9pt;
    padding: 8px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font: bold;
    margin-top: 5px;
}

QPushButton#savePresetButton:hover, QPushButton#renamePresetButton:hover, QPushButton#deletePresetButton:hover {
    background-color: #444444;
}

QPushButton#savePresetButton:disabled, QPushButton#renamePresetButton:disabled, QPushButton#deletePresetButton:disabled {
    background-color: #555555;
}
