/* Existing Styles */
QMainWindow {
    background-color: #f0f0f0;
}

QTextEdit {
    font-family: "Verdana";
    font-size: 12pt;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    color: #000000;
}

QLabel {
    font-size: 10pt;
    margin-bottom: 5px;
    color: #000000;
}

QSpinBox, QDoubleSpinBox {
    font-size: 10pt;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    width: 100px;
    color: #000000;
}

QCheckBox {
    font-size: 10pt;
    margin: 10px 0;
    color: #000000;
}

QPushButton {
    font-size: 9pt;
    padding: 10px;
    background-color: #f9d039;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font: bold;
}

QPushButton:hover {
    background-color: #ffa500;
}

QPushButton:disabled {
    background-color: #e0e0e0;
}

QProgressBar {
    font-size: 10pt;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 20px;
}

QProgressBar::chunk {
    background-color: #ffdc5f;
    width: 10px;
}

QComboBox {
    font-size: 10pt;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    color: #000000;
}

/* Presets Section */
#presetsGroupBox {
    background-color: #e0e0e0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    color: #000000;
}

QListWidget#presetsList {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    color: #000000;
    padding: 5px;
    selection-background-color: #FFD700; /* Gold Highlight */
    selection-color: #000000; /* Black Text on Gold */
    font-family: "Verdana";
    font-size: 10pt;
}

QLineEdit {
    font-family: "Verdana";
    font-size: 12pt;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    color: #000000;
    border-radius: 3px;
}

/* Preset Dialog Input Enhancement */
QInputDialog QLineEdit {
    font-family: "Verdana";
    font-size: 12pt;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
    color: #000000;
    border-radius: 3px;
}

/* Preset Buttons */
QPushButton#savePresetButton, QPushButton#renamePresetButton, QPushButton#deletePresetButton {
    font-size: 9pt;
    padding: 8px;
    background-color: #f9d039;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font: bold;
    margin-top: 5px;
}

QPushButton#savePresetButton:hover, QPushButton#renamePresetButton:hover, QPushButton#deletePresetButton:hover {
    background-color: #ffa500;
}

QPushButton#savePresetButton:disabled, QPushButton#renamePresetButton:disabled, QPushButton#deletePresetButton:disabled {
    background-color: #e0e0e0;
}
